* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fff;
  color: #111;
}

.app {
  max-width: 450px;
  margin: auto;
  border: 1px solid #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eee;
}


.header .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header h1 {
  font-size: 20px;
  flex: 1;
  text-align: center;
}

.header-icons span {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.new-chat-btn {
  position: fixed;
  bottom: 80px; /* above footer */
  right: 20px;
  background: #3b82f6; /* Signal blue */
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}


.search-bar {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.section-title {
  font-size: 14px;
  color: #666;
  padding: 8px 15px;
}


